@font-face {
  font-family: "iconfont"; /* Project id 4816149 */
  src: url('//at.alicdn.com/t/c/font_4816149_mp8rdnksl6l.woff2?t=1741609028637') format('woff2'),
       url('//at.alicdn.com/t/c/font_4816149_mp8rdnksl6l.woff?t=1741609028637') format('woff'),
       url('//at.alicdn.com/t/c/font_4816149_mp8rdnksl6l.ttf?t=1741609028637') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun1:before {
  content: "\e636";
}

.icon-icon_zhiding:before {
  content: "\e6e2";
}

.icon-fenleiliebiao:before {
  content: "\e615";
}

.icon-biaoqian:before {
  content: "\eabd";
}

.icon-pinglunliebiao:before {
  content: "\e68b";
}

.icon-pinglunliebiao1:before {
  content: "\e632";
}

.icon-biaoqianliebiao:before {
  content: "\e769";
}

.icon-meiziguanli-fenleiguanli:before {
  content: "\e63e";
}

.icon-icon:before {
  content: "\e651";
}

.icon-pinglun:before {
  content: "\e618";
}

.icon-VIP:before {
  content: "\e600";
}

.icon-huoreremen:before {
  content: "\e67e";
}

.icon-chongzhi:before {
  content: "\e672";
}

.icon-gonggao:before {
  content: "\f301";
}

.icon-yifatiezi:before {
  content: "\e634";
}

.icon-xitongpeizhi:before {
  content: "\e65f";
}

.icon-yonghuguanli:before {
  content: "\e622";
}

.icon-yonghuxinxi-:before {
  content: "\e62c";
}

.icon-yonghuguanli_huaban:before {
  content: "\e62d";
}
